/PR_ENº2/practicaEj1/nbproject/private/
/PR_ENº2/practicaEj1/build/
/PR_ENº2/practicaej2/nbproject/private/
/PR_ENº2/practicaej6/nbproject/private/
/PR_ENº2/practicaej7/nbproject/private/
/PR_ENº2/practicaej10/nbproject/private/
/PR_ENº2/practicaej10/build/
/PR_ENº2/practicaej6/build/
/PR_ENº2/PracticaPrEn2/nbproject/private/
/PR_ENº2/PracticaPrEn2/build/
